<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Name="Revit GLB Exporter $(RevitVersion)"
      Manufacturer="gltf_revit"
      Version="$(ProductVersion)"
      UpgradeCode="$(RevitUpgradeCode)"
      Scope="perMachine"
      Language="1033">
    <MajorUpgrade DowngradeErrorMessage="A newer version of Revit GLB Exporter is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="RevitAutodeskFolder" Name="Autodesk">
        <Directory Id="RevitHostFolder" Name="Revit">
          <Directory Id="RevitAddinsFolder" Name="Addins">
            <Directory Id="RevitVersionFolder" Name="$(RevitVersion)">
              <Directory Id="RevitPluginFolder" Name="RevitGltfExporter" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Revit GLB Exporter $(RevitVersion)" Level="1">
      <ComponentRef Id="RevitManifestComponent" />
      <ComponentRef Id="RevitPluginComponent" />
    </Feature>

    <Component Id="RevitManifestComponent" Directory="RevitVersionFolder" Guid="$(RevitManifestComponentGuid)" Bitness="always64">
      <File Id="RevitManifestFile" Source="$(PayloadDir)\RevitGltfExporter.addin" KeyPath="yes" />
    </Component>

    <Component Id="RevitPluginComponent" Directory="RevitPluginFolder" Guid="$(RevitPluginComponentGuid)" Bitness="always64">
      <File Id="RevitPluginAssembly" Source="$(PayloadDir)\RevitGltfExporter.$(RevitVersion).dll" KeyPath="yes" />
      <?if $(RevitModernDotNet) = true ?>
      <File Id="RevitDependencyManifest" Source="$(PayloadDir)\RevitGltfExporter.$(RevitVersion).deps.json" />
      <?endif ?>
      <File Id="RevitSharedAssembly" Source="$(PayloadDir)\GltfExporter.Shared.dll" />
      <File Id="RevitNewtonsoftAssembly" Source="$(PayloadDir)\Newtonsoft.Json.dll" />
      <File Id="RevitDracoAssembly" Source="$(PayloadDir)\draco_encoder.dll" />
      <File Id="RevitDracoLicense" Source="$(ThirdPartyNoticesDir)\Draco-LICENSE.txt" />
    </Component>
  </Package>
</Wix>
