<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Name="Revit GLB Exporter 2019"
      Manufacturer="gltf_revit"
      Version="$(ProductVersion)"
      UpgradeCode="A73C6488-1EA0-49AE-9A5E-A0F12E04B68B"
      Scope="perMachine"
      Language="1033">
    <MajorUpgrade DowngradeErrorMessage="A newer version of Revit GLB Exporter is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="RevitAutodeskFolder" Name="Autodesk">
        <Directory Id="RevitHostFolder" Name="Revit">
          <Directory Id="RevitAddinsFolder" Name="Addins">
            <Directory Id="Revit2019Folder" Name="2019">
              <Directory Id="RevitPluginFolder" Name="RevitGltfExporter" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Revit GLB Exporter 2019" Level="1">
      <ComponentRef Id="RevitManifestComponent" />
      <ComponentRef Id="RevitPluginComponent" />
    </Feature>

    <Component Id="RevitManifestComponent" Directory="Revit2019Folder" Guid="AD3D19A5-DDA7-4A5C-8B23-95C4C5A87170" Bitness="always64">
      <File Id="RevitManifestFile" Source="RevitGltfExporter.addin" KeyPath="yes" />
    </Component>

    <Component Id="RevitPluginComponent" Directory="RevitPluginFolder" Guid="CB70E736-9D39-43C0-8EAA-C08484CFDD58" Bitness="always64">
      <File Id="RevitPluginAssembly" Source="$(PayloadDir)\RevitGltfExporter.dll" KeyPath="yes" />
      <File Id="RevitSharedAssembly" Source="$(PayloadDir)\GltfExporter.Shared.dll" />
      <File Id="RevitNewtonsoftAssembly" Source="$(PayloadDir)\Newtonsoft.Json.dll" />
      <File Id="RevitDracoAssembly" Source="$(PayloadDir)\draco_encoder.dll" />
    </Component>
  </Package>
</Wix>
